<div class="row">
    <div class="col-4">

    </div>
    <div class="col-md-4 p-2 mt-6">
        <div class="login d-flex align-items-center py-5">
            <div class="container">
                <h3 class="login-heading mb-4" style="text-align: center;">Login</h3>
                <form (ngSubmit)="login()" #f="ngForm">
                    <div class="form-group">
                        <input 
                        class="form-control"
                        type="email" 
                        placeholder="Username"
                        name = "username"
                        ngModel
                        #username = "ngModel"
                        required
                        email>
                        <span class="help-block small" style=" color: red; " *ngIf = "!username.valid && username.touched">*required</span>
                    </div>
                    <div class="form-group">
                        <input 
                        class="form-control"
                        type="password" 
                        placeholder="Password"
                        name = "password"
                        ngModel
                        #password = "ngModel"
                        required
                        minlength="8"
                        passwordValidator>
                        <span class="help-block small" style="color: red;" *ngIf = "!password.valid && password.touched" >*required</span>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-login mb-2" [disabled]="!f.valid">Login</button>
                    </div>
                </form>
            </div>   
        </div>
    </div>
    <div class="col-4">

    </div>
</div>